body{
    background-color: darkblue;
    background-image: linear-gradient(45deg, midnightblue , purple);
    background-repeat: no-repeat;
    height: 100vh;
}


.page-header{
background: #020024;
 background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.fact-card {
    background-color: mediumblue;
    border-radius: 12px;
    color: white;
    text-align: center;
}

.fact-card h2 {
    color: coral;
}

.star {
    width: 60px;
    height: 60px;
    background-color: yellow;
border-radius: 50%;
    animation: shake 0.1s infinite alternate;
    margin: 0 auto;
}

@keyframes twinkle{
    from{
background-color: greenyellow;
    }
to{
background-color: white;
}
}

@keyframes shake {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2)
    }
}















